

#enquiries{
    background-color:rgb(228, 216, 198);
   
}

.card {
    height: 350px ;
    margin: 5%;
    margin-bottom: 10%;
    border: 2px solid rgb(82, 48, 48);
    border-radius: 10%;

}

.card img {

    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

h1,h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-line: underline;
    /* text-emphasis:initial; */
}

#contact{
    background-color:rgb(231, 186, 134);
    padding: 2%
    
}

#listedcars{
    background-color:rgb(238, 228, 217);
}

h1 {
    background-color:rgb(82, 48, 48);
   
}

.navbar{
    background-color: rgb(185, 136, 91);
}